<script>
function abcd(value) {
  let selectBoxA = document.getElementById("A")
  let selectBoxB = document.getElementById("B")
    if(value === "A"){
      selectBoxA.setAttribute("style", "display:flex;")
      selectBoxB.setAttribute("style", "display:none;")

    }
    else if(value === "B"){
      selectBoxA.setAttribute("style", "display:none;")
      selectBoxB.setAttribute("style", "display:flex;")
    }
  }
</script>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search-form", locals:{ q: @q} %>
<div class = "main">
  <div class = "main-content">
    <div class = "main-wrapper">
      <div class = "post-wrapper">

        <div class = "post-header">
          <select name = "myselectbox" id="myselectbox" onchange = "abcd(this.value)" >
            <option value="A">今日のおすすめ順</option>
            <option value="B">開けたて順</option>
          </select>
        </div>
        <%= render partial: "shared/users_post_index", locals:{ posts: @posts, posts_open_date: @posts_open_date}%>
      </div>
    </div>
  </div>
</div>

  <%= render partial: "shared/footer" %>