<div class ="head-wrapper">
  <div class = "head-left">
    <a href = "/", class = "logo">ロゴ</a>
  </div>
  <div class = "head-right">
    <div class = "search">検索</div>
    <div class = "shoplist">登録ショップリスト</div>
    <div class = "log-out">ログアウト</div>
    <div class = "user-info">ユーザーネーム</div>
  </div>
</div>