<div class ="head-wrapper">
  <div class = "head-left">
    <div class = "logo">ロゴ</div>
  </div>
  <div class = "head-right">
    <div class = "search">検索</div>
    <div class = "shoplist">登録ショップリスト</div>
    <div class = "log-out">ログアウト</div>
    <div class = "user-info">ユーザーネーム</div>
  </div>
</div>
<div class = "main-wrapper">
  <div class = "message-wrapper">
      <% 10.times do  %>
      <div class = "message">
        <div class = "user-icon">画像</div>
        <div class = "message-content">
          <div class = "message-information">
            <div class = "user-name">ユーザーネーム</div>
            <div class = "post-time">投稿時刻</div>
          </div>
          <div class = "text">ここに直近の本文が入りますここに本文が入りますここに本文が入ります</div>
        </div>
      </div>
      <% end %>
  </div>
</div>
<div class = "foot-wrapper">
フッター
</div>