.message-wrapper{
  width: 70%;
}





.message{
  background-color: gainsboro;
  width: 90%;
  height: 100px;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.message-content{
  margin: 10px;
  background-color: darkseagreen;
  height: calc(100% - 20px);
  width: calc(100% - 140px);
}

.message-information{
  display: flex;
  justify-content: space-between;
}

.user-name{
  padding: 5px;
}

.post-time{
  padding: 5px;
}

.text{
  padding: 5px;
}

