<%= render partial: "shared/header" %>
<div class = "main">
    <div class = "main-wrapper">
      <div class = "shop-search-wrapper">
        <% 10.times do  %>
        <a href = "/shops/show", class = "shops">
          <div class = "user-icon">画像</div>
          <div class = "shop-content">
            <div class = "shop-info-search">
              <div class = "shop-name-search">shop名</div>
              <div class = "station-genre">
                <div class = "station-search">最寄り駅</div>
                <div class = "genre-search">ジャンル</div>
              </div>
            </div>
            <div>
              <div class = "follow-button">フォロー解除</div>
            </div>
          </div>
        </a>
        <% end %>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
</div>