<%= render partial: "shared/header" %>
<div class = "main-wrapper">
  <div class = "user-information-area">
    <div class = "user-icon-show"></div>
    <div class = "user-data">
      <h3>shop名</h3>
      <p>焼肉キング</p>
      <br>
      <h3>メールアドレス</h3>
      <p>yakiniku@yakiniku</p>
      <br>
      <h3>電話番号</h3>
      <p>03-1111-2222</p>
      <br>
      <h3>ジャンル</h3>
      <p>焼肉</p>
      <br>
      <h3>最寄り駅</h3>
      <p>新宿</p>
    </div>
  </div>
  <%= render partial: "shared/footer" %>
</div>