<%= render partial: "shared/header" %>
<div class = "header-back"></div>

<div class = "main-wrapper">
  <div class = "done-message">
      <h1>投稿が完了しました</h1>
      <%= link_to "トップに戻る", root_path%>
  </div>
</div>
<%= render partial: "shared/footer" %>