<%= render partial: "shared/header" %>
<div class = "header-back"></div>
<div class = "main-wrapper">
  <%= render partial: "shared/post_form", locals:{ post_tag: @post_tag}%>
</div>
<%= render partial: "shared/footer" %>