 <%= render partial: "shared/header" %>
<div class = "header-back"></div>
<div class = "main">
  
  <div class = "main-content"> 
    <div class = "main-wrapper">
      <div class = "post-wrapper">
        <div class = "post-header">
          <h1><%= current_shop.shop_name%>の投稿一覧</h1>
        </div>
        
         <%= render partial: "shared/shops_post_index", locals:{ posts: @posts}%>
      </div>
    </div>
  </div>
</div>
 <%= render partial: "shared/footer" %>

 