<%= render partial: "shared/header" %>
<div class = "header-back"></div>
<div class = "main">

  <div class = "main-content">
    <div class = "main-wrapper">
      <%= render partial: "shared/shops_post_index", locals:{ posts: @posts}%>
    </div>
  </div>
</div> 
 <%= render partial: "shared/footer" %>