<%= render partial: "shared/header" %>
<div class = "main">
<div class = "side-bar">
    <a href = "/messages/new" class = "side-bar-content">
      <p>一斉送信</p>
    </a>
    <%= link_to "フォロワー一覧", shops_shop_memberships_path(current_shop.id), class: "side-bar-content"%>
    <a href = "/reservations/#/index" class = "side-bar-content">
     <p>予約一覧</p>
    </a>
    <%= link_to "フォローリクエスト一覧", shops_shop_follow_requests_path(current_shop.id), class: "side-bar-content" %>

  </div>
  <div class = "main-content">
    <div class = "main-wrapper">
      <div class = "post-wrapper">
        <div class = "post-header">
        </div>
        <div class = "posts-area">
          <div class = "inner-post-area">
          <% 10.times do %>
            <div class = "post"></div>
          <% end %>
          </div>
        </div>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  </div>
</div> 