<%= render partial: "shared/header" %>
<div class = "header-back"></div>
<div class = "main-wrapper">
<div>
  <%= render partial: "shared/error_messages", locals:{model: @post_tag}%>
  <%= render partial: "shared/post_form", locals:{ post_tag: @post_tag}%>
</div>
</div>
<%= render partial: "shared/footer" %>