<%= render partial: "shared/header" %>
<div class = "main-wrapper">
  <div class = "user-information-area">
    <div class = "user-icon-show"></div>
    <div class = "user-data">
      <h3>名前</h3>
      <p>山田たろう</p>
      <br>
      <h3>メールアドレス</h3>
      <p>abcde@abcde</p>
      <br>
      <h3>電話番号</h3>
      <p>090-0909-0909</p>
      <br>
      <h3>性別</h3>
      <p>男</p>
      <br>
      <h3>年齢</h3>
      <p>26歳</p>
    </div>
  </div>
  <%= render partial: "shared/footer" %>
</div>