<div class ="head-wrapper">
  <div class = "head-left">
    <a href = "/", class = "logo">ロゴ</a>
  </div>
  <div class = "head-right">
    <a href = "#", class = "log-out">ログアウト</a>
    <a href = "/users/show", class = "user-info">ユーザーネーム</a>
  </div>
</div>