<div class = "post-wrapper">
  <div class = "post-header">
  </div>
  <div class = "posts-area">
    <div class = "inner-post-area">
    <% 10.times do %>
      <div class = "post">
        <div class = "post-image"></div>
        <div class = "post-contents">
          <p class = "wine-name">お酒の名前が入ります</p>
          <p class = "open-date">開栓日が入ります</p>
          <p class = "shop-name">お店の名前が入ります</p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>