<div class = "post-wrapper">
  <div class = "post-header">
  </div>
  <div class = "posts-area">
    <div class = "inner-post-area">
    <% posts.each do |post|%>
      <div class = "post">
        <div class = "post-image"></div>
        <div class = "post-contents">
          <p class = "wine-name"><%= post.wine_name %></p>
          <p class = "open-date">開栓日が入ります</p>
          <% unless shop_signed_in? %>
          <p class = "shop-name"><%= post.shop[:shop_name] %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>