<%= render partial: "shared/header" %>
<div class = "main">
    <div class = "main-wrapper">
      <div class = "calendar-area">
        <h1>予約詳細</h1>
        <ul>
        <li>予約日時
          <ul>
          <li ○月○日○時</li>
          </ul>
        </li>
        </ul>
    </div>
</div> 
