<%= render partial: "shared/header" %>
<div class = "main">
<% if user_signed_in? %>
  <div class = "side-bar">
    <a href = "users/shops/search" class = "side-bar-content">
      <p>ショップを検索する</p>
    </a>
    <%= link_to "登録ショップリスト", users_shops_path,class: "side-bar-content" %>
    <a href = "/reservations/#/index" class = "side-bar-content">
     <p>予約一覧</p>
    </a>
  </div>
  <div class = "main-content">
    <div class = "main-wrapper">
      <div class = "message-wrapper">
        <% 10.times do  %>
        <a href = "/rooms/show", class = "message">
          <div class = "user-icon">画像</div>
          <div class = "message-content">
            <div class = "message-information">
              <div class = "user-name">ショップネーム</div>
              <div class = "post-time">投稿時刻</div>
            </div>
            <div class = "text">ここに最新の本文が入りますここに最新の本文が入りますここに最新の本文が入ります</div>
          </div>
        </a>
        <% end %>
      </div>
<% elsif  %>
<div class = "side-bar">
    <a href = "/messages/new" class = "side-bar-content">
      <p>一斉送信</p>
    </a>
    <a href = "/users/#/index" class = "side-bar-content">
     <p>登録ユーザーリスト</p>
    </a>
    <a href = "/reservations/#/index" class = "side-bar-content">
     <p>予約一覧</p>
    </a>
  </div>
  <div class = "main-content">
    <div class = "main-wrapper">
      <div class = "message-wrapper">
          <% 10.times do  %>
          <a href = "/rooms/show", class = "message">
            <div class = "user-icon">画像</div>
            <div class = "message-content">
              <div class = "message-information">
                <div class = "user-name">ユーザーネーム</div>
                <div class = "post-time">投稿時刻</div>
              </div>
              <div class = "text">ここに最新の本文が入りますここに最新の本文が入りますここに最新の本文が入ります</div>
            </div>
          </a>
          <% end %>
        </div>
<% end %>
      <%= render partial: "shared/footer" %>
    </div>
  </div>
</div> 