<%= render partial: "shared/header" %>
<div class = "main-wrapper">
  <div class = "message-area">
    <div class = "message-area-left">
      「ショップ名」とのメッセージルーム
    </div>
    <div class = "message-area-center">
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
      <div class = "talk-right">
      <p class = "talk-content">メッセージ本文</p>
        <div class = "speech-bubble-right"></div>
      </div>
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
      <div class = "talk-right">
      <p class = "talk-content">メッセージ本文メッセージ本文</p>
        <div class = "speech-bubble-right"></div>
      </div>
      <div class = "talk-right">
      <p class = "talk-content">メッセージ本文</p>
        <div class = "speech-bubble-right"></div>
      </div>
      <div class = "talk-right">
      <p class = "talk-content">メッセージ本文</p>
        <div class = "speech-bubble-right"></div>
      </div>
      <div class = "talk-left">
        <div class = "user-icon-min"></div>
        <div class = "speech-bubble-left"></div>
        <p class = "talk-content">メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文メッセージ本文</p>
      </div>
    </div>
    <div class = "message-area-right">
      <div class = "reservation-button">
        予約する
      </div>
    </div>
  </div>
  <%= render partial: "shared/footer" %>
</div>