.shop-search-wrapper,.shop-following-wrapper{
  width: 60%;
}

.shop-content{
  display: flex;
  width: calc(100% - 110px);
  margin: 10px 10px 10px 0;
  justify-content: space-between;
}

.station-genre{
  display: flex;
}

.shops a.follow-button{
  background-color: coral;
  margin: 20px;
  padding: 10px;
  position: relative;
  max-width: 350px;
  text-align: center;
  background-color: #FF7851;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;  
  margin: 0 10px;
}

.follow-btn{
  display: inline-block;
  max-width: 350px;
  text-align: center;
  background-color: #FF7851;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
  outline: none;  
  margin: 0 10px;
}

.shop-name-search{
  padding: 10px;

}

.station-search{
  padding: 10px;
}

.genre-search{
  padding: 10px;
}

.search-form{
  text-align:  center;
  padding: 10px 0;
  margin-top: 10px;
}

