.form-table{
  width: 60%;
  margin: 50px 0;
}

.form-table th,
.form-table td{
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
} 

.form-table th{
  background:#ffecea;
  padding-left: 50px;
  position: relative;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}

label{
  text-align: center;
  font-size: 16px;
}

.submit-btn{
  display: inline-block;
  border-radius: 20%;
  font-size: 16px;
  text-align: center;
  background-color: #ffecea;
  cursor: pointer;
  padding: 12px;
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #990000;
}

.submit-btn:hover{
  box-shadow: none;
  color: #990000;
  background: #ffffff;
}

.reservation-request-error-messages{
  background-color: #f7f4f2;
  height: 100%;
  padding-top: 5px;
}