.foot-wrapper{
  background-color:#d0d0d0;
  /* position: absolute;
  /* height: 150px; */
  /* bottom: 0; */
  width: 100vw;
  padding: 70px 0 20px 0;
  text-align: center;
  text-decoration: none;
}


.footer-contents {
  display: flex;
  justify-content: center;
  
}


.footer-content{
  display: flex;
}

.footer-right,.footer-left{
  margin: 0 40px;
}

.aketate-details{
  margin: 0 4vw;
}
.aketate-details ul{
list-style: none;
}

.aketate-details h2{
  padding-top: 5px;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: black;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
  list-style: none;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer-wrapper>p {
  font-size: 14px;
} 