.login-form{
  margin: 100px 0;
  background-color: white;
  padding: 15px 150px;

/* 
  box-shadow: 10px 10px 10px gray; */
}

.login-form h1{
  font-size: 30px;
}

.login-main-wrapper{
  background-color: #f7f4f2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}

.field,.actions{
  margin-top: 10px;
}