.user-information-area{
  margin-top: 100px;
  height: 400px;
  width: 40%;
  background-color: chocolate;
  display: flex;
}

.user-icon-show{
  margin: 30px;
  height: auto;
  width: auto;
}

.user-data{
  margin-top: 30px;
}