.post-header{
  width: 100%;
  height: 50px;
  background-color: blue;
}

.post-wrapper{
  width: 100%;
}

.posts-area{
  width: 100%;
  height: 100%;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-post-area{
  margin: 0 30px 30px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

}

.post{
  margin: 20px;
  height: 400px;
  width: 320px;
  background-color: cadetblue;
  float: left;
}

.post-image{
  width: 80%;
  height: 60%;
  margin: 30px;
  background-color: cornsilk;
}

.post-contents{
  width: 100%;
}

.post-contents p{
  text-align: center;
}