.post-header{
  width: 100%;
  height: 50px;
  background-color: blue;
}

.post-wrapper{
  width: 100%;
}

.posts-area{
  width: 100%;
  height: calc(100%);
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-post-area{
  margin: 30px;
}


.post{
  margin: 20px;
  height: 300px;
  width: 240px;
  background-color: cadetblue;
  float: left;
}