.post-header{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #f7f4f2;
  display:flex;
  align-items: center;
}

.post-header select{
  margin: 30px 0 30px 20px;
}

.post-header button{
  margin: 0 0 0 20px;
}

.post-header h1{
  margin: auto;
  font-size: 30px;
}

.post-wrapper{
  width: 100%;
}

.posts-area{
  width: 100%;
  height: 100%;
  background-color:  #f7f4f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.inner-post-area{
  margin: 0 30px 0 30px;
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;

}

.hidden1{
  display: flex;
}

.hidden2{
  display: none;
}


.post{
  margin: 20px;
  height: 400px;
  width: 320px;
  background-color:  white;
  float: left;
  position: relative;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.post:hover{
  transform: translateY(-5px);
}

.post a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

.post-image{
  width: 80%;
  height: 60%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sold-out{
  background-color: red;
}