.form-wrapper{
  margin: 50px;
}

.post-contents-wrapper{
  margin: 20px 0;
  width: 100%;
}

.post-contents{
  width: 100%;
  height: 40%;
}

.post-contents p{
  text-align: center;
  margin-top: 10px;
}

.post-contents h3{
  text-align: center;
  margin-top: 10px;
}

.post-contents h1{
  text-align: center;
  margin-top: 10px;
}

.new-post-form-area h1{
text-align: center;
margin-top: 30px;
font-size: 30px;
}